<table class="table" id="{{ id }}">
  <thead {{#if sticky-header}} class="sticky-top" {{/if}}>
    <tr></tr>
  </thead>
  <tbody></tbody>
</table>
<script type="text/rainy-loop-js">
  const ddf = rainyEvalExpr("{{data}}")
  const _columnsArr = {{#if column}} {{{json column}}} {{else}} [] {{/if}};
  const _columns = {}
  _columnsArr.forEach(c=>_columns[c.name] = c)
  let len = 0
  $(`#{{id}} thead tr`).html("")
  $(`#{{id}} tbody`).html("")
  Object.keys(ddf).forEach(k=>{
    const col = _columns[k]
    const alignS = col?.align ? ` style="text-align: ${col.align}"`: ''
    $(`#{{id}} thead tr`).append(`<th${alignS}>${col?.label || k}</th>`)
    len = Math.max(len, ddf[k].length)
  })
  for (let ix = 0; ix < len; ix++) {
    const tr = Object.keys(ddf).map(k=>{
      const col = _columns[k]
      let val = ddf[k][ix]
      if(col?.['divide-by'])
        val = val/(+col['divide-by']);
      const alignS = col?.align ? ` style="text-align: ${col.align}"`: ''
      if(col?.currency && typeof val ==="number") 
        return `<td${alignS}>${val.toLocaleString(col?.locale || "en", {
          style: "currency", 
          currency:col.currency,
          maximumFractionDigits: col.round ? 0 : 2
        })}</td>`
      if(col?.['thousands-sep'] && typeof val ==="number")
        return `<td${alignS}>${val.toLocaleString(col?.locale || "en", {
          maximumFractionDigits: col.round ? 0 : 2
        })}</td>`
      if(col?.round && typeof val ==="number")
        return `<td${alignS}>${Math.round(val)}</td>`
      return `<td${alignS}>${val}</td>`
    }).join("")
    $(`#{{id}} tbody`).append(`<tr>${tr}</tr>`)
  }
</script>
<style>
  #{{id}} td, #{{id}} th {
    text-align: right;
  }
</style>

<script>
  document.querySelector;
</script>