<ul class="nav nav-tabs" role="tablist">
  {{#each tab}}
  <li class="nav-item" role="presentation">
    <button class="nav-link {{#if @first}}active{{/if}}" id="{{id}}-tab" data-bs-toggle="tab" data-bs-target="#{{id}}"
      type="button" role="tab" aria-controls="home" aria-selected="true">{{label}}</button>
  </li>
  {{/each}}
</ul>
<div class="tab-content" id="myTabContent">
  {{#each tab}}
  <div class="tab-pane fade {{#if @first}} show active {{/if}}" id="{{id}}" role="tabpanel"
    aria-labelledby="{{id}}-tab">{{{body}}}</div>
  {{/each}}

</div>