<div id="preset-select" class="dropdown">
  <button
    class="btn {{#if btn-class}} {{ btn-class }} {{else}} btn-secondary {{/if}} dropdown-toggle"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    {{#if label}} {{label }} {{else}} Saved inputs {{/if}}
  </button>
  <ul class="dropdown-menu">
    <li>
      <div class="dropdown-item justify-content-between">
        <a href="javascript:newRainyPersist()">Save these inputs</a>
      </div>
    </li>
  </ul>
</div>
<script>
  function addRainyPersistItem(row) {
    const ul = document.querySelector("#preset-select ul");
    const li = document.createElement("li");
    const div = document.createElement("div");
    const a = document.createElement("a");
    const i = document.createElement("i");
    a.appendChild(document.createTextNode(row.name));
    div.setAttribute("class", "dropdown-item justify-content-between");
    i.setAttribute("class", "far fa-trash-alt");
    i.addEventListener("click", () => {
      const viewname = document
        .querySelectorAll("div.rainy-dashboard")[0]
        .getAttribute("data-viewname");
      if (confirm(`Are you sure you want to delete ${row.name}?`))
        view_post(
          viewname,
          "delete_persist",
          {
            id: row.id,
          },
          () => {
            li.remove();
          }
        );
    });
    a.setAttribute(
      "href",
      `javascript:setRainyPersist(${JSON.stringify(row.id)})`
    );

    div.appendChild(a);
    div.appendChild(i);
    li.appendChild(div);
    ul.appendChild(li);
  }
  (rainyPersistData || []).forEach(addRainyPersistItem);
  function newRainyPersist() {
    const name = window.prompt("Name of these inputs");
    if (!name) return;
    const viewname = document
      .querySelectorAll("div.rainy-dashboard")[0]
      .getAttribute("data-viewname");
    view_post(
      viewname,
      "save_persist",
      {
        name,
        inputs: inputStore,
        outputs: rainyOutputs,
      },
      (data) => addRainyPersistItem({ name, id: data.id })
    );
  }
  function setRainyPersist(id) {
    const row = rainyPersistData.find((r) => r.id == id);
    document
      .querySelectorAll(
        "div.rainy-dashboard input[name], div.rainy-dashboard select[name]"
      )
      .forEach((el, i) => {
        if (typeof row.inputs[el.name] !== "undefined") {
          el.value = row.inputs[el.name];
        }
      });
    fetchRender();
  }
</script>
