<div id="{{ id }}"></div>
<script type="text/rainy-loop-js">
  const _trace = {{#if trace}} {{{json trace}}} {{else}} [] {{/if}};
  const _traces = {{#if traces}} {{{json traces}}} {{else}} [] {{/if}};
  const _flatten = xss => xss.map()
  Plotly.newPlot("{{ id }}", [
     ..._trace.map(_tr=>({
      x: rainyEvalExpr(_tr.x),
      y: rainyEvalExpr(_tr.y),
      ...(_tr.z ? {z: rainyEvalExpr(_tr.z)} : {}),
      type: _tr.type || undefined,
      name: _tr.name || undefined,
      yaxis: _tr.yaxis || undefined,
      line: {
        color: _tr.color || undefined,
        width: _tr.width || undefined,
      }
     })),
     ..._traces.map(_tr=>(
      rainyEvalExpr(_tr.ys).map(y=>({
        x: rainyEvalExpr(_tr.x),
        y,
        type: _tr.type || undefined,
        name: _tr.name || undefined,
        yaxis: _tr.yaxis || undefined,
        line: {
          color: _tr.color || undefined,
          width: _tr.width || undefined,
        }
       }))
     )).flat(),
  ], {
    {{#if title}} title: "{{title}}", {{/if}}
    {{#if showlegend}} showlegend: {{showlegend}}, {{/if}}
    {{#if height}} height: {{height}}, {{/if}}
    {{#if width}} width: {{height}}, {{/if}}
    {{#each margin}}
    margin: {
      {{#if pad}} pad: {{pad}}, {{/if}}
      {{#if l}} l: {{l}}, {{/if}}
      {{#if b}} b: {{b}}, {{/if}}
      {{#if r}} r: {{r}}, {{/if}}
      {{#if t}} t: {{t}}, {{/if}}
    },
    {{/each}}
    {{#each axis }}
      {{dir}}axis{{#if n}}{{n}}{{/if}}: {
        {{#if title}} title: "{{title}}", {{/if}}
        {{#if side}} side: "{{side}}", {{/if}}
        {{#if type}} type: "{{type}}", {{/if}}
        {{#if overlaying}} overlaying: "{{overlaying}}", {{/if}}
        {{#if showgrid}} showgrid: {{showgrid}}, {{/if}}
      },
    {{/each}}
  }, {
    {{#if responsive}} responsive: true, {{/if}}
    {{#if no-mode-bar}} displayModeBar: false, {{/if}}
  });
</script>